In [1]:
import os
import datetime as dt
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from MoneyAfterDark import NarcoAnalytics as narc, Montana as mn, TaxTools as tax

In [2]:
%load_ext autoreload
%autoreload 2

In [5]:
slash = '/'
path = os.getcwd()
export_loc = path + slash + "Exports"
costs = pd.read_csv(path + slash + "spending.csv", infer_datetime_format=True)
pack = pd.read_csv(path + slash + "packages.csv", infer_datetime_format=True)
#clients = pd.read_csv(path + slash + "clients.csv", infer_datetime_format=True)
sales = pd.read_csv(path + slash + "calex.csv", infer_datetime_format=True)
x = [costs,pack,sales]
for i in x:
    narc.set_dates(i)
c = narc.split_dates(costs,format='period')
c.head()

,date,weekday,day,week,month,quarter,year,purchase,quantity,shop,cost,shipping,type,asset
0,2022-01-01,5,1,52,2022-01,2022Q1,2022,Analytics,1,MoneyAfterDark,20.00,0,subscription,NaN
1,2022-01-01,5,1,52,2022-01,2022Q1,2022,Prime,1,Amazon,3.99,0,subscription,NaN
2,2022-02-01,1,1,5,2022-02,2022Q1,2022,Gym Rent,1,GYMBOX,600.00,0,bill,NaN
3,2022-02-01,1,1,5,2022-02,2022Q1,2022,Analytics,1,MoneyAfterDark,20.00,0,subscription,NaN
4,2022-02-01,1,1,5,2022-02,2022Q1,2022,Prime,1,Amazon,3.99,0,subscription,NaN